@import "../../mixins.scss";

.form-Register {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    transform: translateY(0);
    width: 35rem;
    left: 22rem;
    height: 31rem;
    align-items: center;
    transition: all ease 0.5s;
    top: 4rem;
    color: white;
    h1{
        width: 7rem;
        margin-left: 16rem;
        line-height: 1rem;
    }
    label{
        margin-left: 2rem;
    }
    .insideForm{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;        padding: 3rem;
        width: 30rem;
        height: 28.9rem;
        margin: auto;
    }
    .insideInput{
        display: flex;
        justify-content: space-around;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        padding: 0.9em;
        width: 20rem;
        margin-left: 2rem;
        margin-top: 0.5rem;
        outline: none;
        font-weight: 600;
        position: relative;
    }
  
}
.btn-Submit{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(235, 237, 238, 0.097) 0px 2px 6px 2px;    background-color: rgba(43, 46, 226, 0);
    border: none;
    padding: 0.5rem;
    width: 12rem;
    margin-left: 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 4rem;
    color: white;
}
.btn-Submit:hover{
    box-shadow: rgba(116, 120, 123, 0.3) 0px 1px 2px 0px, rgba(210, 216, 217, 0.318) 0px 2px 6px 2px;    background-color: rgba(43, 46, 226, 0);
    cursor: pointer;
}
.reg{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(235, 237, 238, 0.097) 0px 2px 6px 2px;    background-color: rgba(43, 46, 226, 0);
    padding: 0.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    u{
        text-decoration: none;
        font-size: .7rem;
    }
}


.iconn{
    position: absolute;
    margin-left: 20rem;
    margin-top: -2rem;
    color: black;
}



@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }
    100% {
        transform: translateY(0);
    }
}


// @media screen {
//     .form-Register {
//         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//         position: fixed;
//         transform: translateY(0);
//         width: 25rem;
//         left: 1rem;
//         height: 28rem;
//         align-items: center;
//         transition: all ease 0.5s;
//         top: 4rem;
//         z-index: 2;
//         color: white;
//         h1{
//             width: 7rem;
//             margin-left: 10rem;
//             line-height: 3rem;
//         }
//         label{
//             margin-left: 2rem;
//         }
//         .insideForm{
//             box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;        padding: 3rem;
//             width: 25rem;
//             height: 28.9rem;
//             margin: auto;
//         }
//         .insideInput{
//             position: relative;
//             display: flex;
//             justify-content: space-around;
//             box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
//             width: 13rem;
//             height: 2.4rem;
//             margin-left: 2rem;
//             margin-top: 1rem;
//             outline: none;
//             font-weight: 600;
//         }
      
//     }

//     .btn-Submit{
//         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(235, 237, 238, 0.097) 0px 2px 6px 2px;    background-color: rgba(43, 46, 226, 0);
//         border: none;
//         padding: 0.5rem;
//         width: 9rem;
//         font-size: 1rem;
//         margin-top: 1rem;
//         margin-left: 2rem;
//         color: white;
//     }
//     .btn-Submit:hover{
//         box-shadow: rgba(116, 120, 123, 0.3) 0px 1px 2px 0px, rgba(210, 216, 217, 0.318) 0px 2px 6px 2px;    background-color: rgba(43, 46, 226, 0);
//         cursor: pointer;
//     }
//     .reg{
//         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(235, 237, 238, 0.097) 0px 2px 6px 2px;    background-color: rgba(43, 46, 226, 0);
//         padding: 0.5rem;
//         margin-left: 1rem;
//         margin-top: 1rem;
//         color: white;
//         text-decoration: none;
//         u{
//             text-decoration: none;
//             font-size: .7rem;
//         }
//     }
//     .iconn{
//         position: absolute;
//         margin-left: 13rem;
//         margin-top: -1.8rem;
//         color: black;
//     }

//     .icon{
//         margin-top: -1rem;
//     }
//     .footer {
//         background-color: var(--black3);
//         padding: 50px 0;
//         color: white;
//         position: relative;
//         top: 32.4rem;
//         height: 14.5rem;
//     }
      
// }